<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingrein.okitmigration.mapperDest.UserDestMapper">
    <cache />

    <select id="getUser" parameterType="int" resultType="map">
        SELECT * FROM `user` WHERE id = #{id};
    </select>

    <select id="listAllUser" resultType="map">
        SELECT u.id, u.username,p.mobile, p.name, p.unit_id, p.is_deleted FROM `user` u left join person p on u.person_id = p.id where u.usertype_id = 0;
    </select>

    <select id="listAllUnit" resultType="map">
        SELECT * FROM unit;
    </select>

    <select id="getUnit" resultType="map">
        SELECT * FROM unit u WHERE u.id = #{id};
    </select>

    <select id="listUnitByParent" resultType="map">
        SELECT * FROM `unit` u
        <where>
            <choose>
                <when test="id != null">
                    u.parent_id = #{id}
                </when>
                <otherwise>
                    u.parent_id is null
                </otherwise>
            </choose>
        </where>
    </select>
</mapper>